//
//  Release.xcconfig
//  BuildConfigs
//
//  Created by Hai Phung on 9/28/18.
//  Copyright © 2018 Hai Phung. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

CONFIG_NAME = Release
CONFIG_BUNDLE_ID_SUFFIX =
CONFIG_PRODUCT_NAME_SUFFIX =
