<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Development</key>
	<dict>
		<key>api-base-url</key>
		<string>https://dev.api.buildconfigs.com</string>
		<key>api-key</key>
		<string>1234567890</string>
	</dict>
	<key>QA</key>
	<dict>
		<key>api-base-url</key>
		<string>https://qa.api.buildconfigs.com</string>
		<key>api-key</key>
		<string>1234567890</string>
	</dict>
	<key>Staging</key>
	<dict>
		<key>api-base-url</key>
		<string>https://staging.api.buildconfigs.com</string>
		<key>api-key</key>
		<string>1234567890</string>
	</dict>
	<key>Production</key>
	<dict>
		<key>api-base-url</key>
		<string>https://api.buildconfigs.com</string>
		<key>api-key</key>
		<string>1234567890</string>
	</dict>
</dict>
</plist>
